.services,
.service-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.services-title {
  font-size: 88px;
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.services-item {
  width: 60%;
  padding: 30px;
  border-radius: 20px;
  background-color: #2f213f;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.service-icon {
  min-width: 48px;
  height: 48px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-icon img {
  width: 24px;
  height: 24px;
}

.service-info {
  font-size: 20px;
  font-weight: 500;
}

.service-info h3 {
  font-size: 13px;
  font-weight: 300;
}

.services-item:nth-child(1) .service-icon {
  background-color: #dd4c62;
}
.services-item:nth-child(2) .service-icon {
  background-color: #025656;
}
.services-item:nth-child(3) .service-icon {
  background-color: #6c5c0c;
}

.details-title {
  font-size: 26px;
  text-shadow: 5px -5px 5px #2f213f;
  margin-bottom: 30px;
}

.details-item {
  font-size: 20px;
}

.details-item:not(:last-child) {
  margin-bottom: 10px;
}

.active {
  transform: translateX(20);
}

@media (max-width: 1024px) {
  .services-title {
    font-size: 50px;
  }

  .services,
  .service-details {
    width: 100%;
  }

  .service-details {
    display: none;
  }

  .services-item {
    width: 90%;
  }
}

@media (max-width: 540px) {
  .services-title {
    font-size: 70px;
  }
  .service-info {
    font-size: 15px;
  }
}
