.contacts-form,
.contacts-image {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-image {
  background-color: rgba(2, 2, 45, 0.187);
  margin: 50px 0px;
  padding: 50px;
  border-radius: 50% 0px;
}

.tooltip {
  position: absolute;
  color: red;
  font-size: 12px;
  display: block;
  bottom: -16px;
}

.success-message,
.error-message {
  position: absolute;
  color: green;
  font-size: 14px;
  bottom: -40px;
}

.error-message {
  color: red;
}

form {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(2, 2, 45, 0.066);
  border-radius: 50px;
}

input,
textarea {
  padding: 12px;
  border: none;
  border-radius: 5px;
}

.form-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 13px;
}

.form-button {
  background-color: #dd4c62;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form-button:disabled {
  cursor: not-allowed;
}

@media (max-width: 1280px) {
  .form {
    width: 100%;
  }
}

@media (max-width: 768px) {
  form {
    padding: 0;
    width: 100%;
  }

  .contacts-form {
    width: 100%;
  }

  .contacts-image {
    display: none;
  }
}
